body{
    margin: 0;
    padding: 0;

}

.Hero-section{
    background-color: #1f2937;
    Width:100%;
    color: white;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;

}


.logo{ font-size: 24px;

}

.header {
    display:flex;
    justify-content: space-between;

}
.Links {
    display:flex;
    gap: 16px;
    font-size:18px;
}


.Wrapper {
    display:flex;
    width: 100%;
    margin-top: 100px;
    
    
    
    
    
    
}

.text-content{
    width:100%;
}


h1{font-size: 48px;
    font-size: 900 ;



}

.para-1{width:50%;
    
}
p{
    font-size: 18px;
    color:#e5e7eb;
}


.image{
    width:400px;
    height:200px;
    border-radius: 10px;
    flex-shrink: 1;
}

.section3{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:200px ;
    padding-bottom: 200px;
   
}

h2{ font-size:32px;
    color: #1f2937;
    font-weight:900 ;

}

.grid{
    display:flex;
    gap: 16px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    
    

}

.img-grid{
    width:250px;
    height:250px;
    border-radius: 10px;
}

.Testimonials{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;

}

.container{
width:60%;
display: flex;
flex-direction: column;


}

.test-para{ font-size: 36px;
    font-style: light italic;
    color:#1f2937
    

}

.Name{ color:#1f2937}
.name{display: flex;
align-items: last baseline;}

.Cta{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    

}

.blue-box{
    background-color:#3882f6 ;
    display: flex;
    align-items: center;
    gap:100px;
    padding: 50px 60px 50px 60px;
    border-radius: 10px;
    
    
}

h3{
    color:#e5e7eb
}

.button{
    display: flex;
}
a{
    color: #e5e7eb;
    text-decoration: none;
    border: 1px solid #e5e7eb;
    padding: 10px;
    border-radius: 5px;
    flex-shrink: 1;
    
}

.footer{
    display:flex;
    justify-content: center;
    background-color:#1f2937 ;
    
}
